<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active"> Link İtem 1</a>
     <a href="#" class="list-group-item list-group-item-action"> Link İtem 2</a>
      <a href="#" class="list-group-item list-group-item-action"> Link İtem 3</a>
       <a href="#" class="list-group-item list-group-item-action"> Link İtem 4</a>
        <a href="#" class="list-group-item list-group-item-action"> Link İtem 5</a>
</div>